ul {
  display: flex;
  overflow-x: scroll;
  width: 100%;
  height: 150px;
  overflow-y: hidden;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

li {
  border: 1px solid black;
  margin: 10px;
  padding: 5px;
  max-width: 100px;
  width: 100%;
  flex: 1;
  display: flex;
  text-decoration: none;
  list-style: none;
  position: relative;
  border-radius: 10px;
  background-color: white;
}

a {
  background-color: white;
  text-decoration: none;
}

button {
  position: absolute;
  border-radius: 50%;
  bottom: -10px;
  right: -5px;
  padding: 5px;
  border: solid black 1px;
  background-color: white;
}

.fa-heart {
  color: red;
}
