h1 {
  display: flex;
  justify-content: center;
  font-weight: 900;
  text-shadow: 2px 20px 8px rgba(0, 0, 0, 1);
  color: white;
}

main {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  border: 2px solid #405d27;
  min-height: 270px;
  width: 30vw;
  padding: 40px;
  border-radius: 10px;
  background-color: white;
  -webkit-box-shadow: 6px 2px 13px 0px rgba(0, 0, 0, 0.53);
  -moz-box-shadow: 6px 2px 13px 0px rgba(0, 0, 0, 0.53);
  box-shadow: 2px 20px 8px 20px rgba(0, 0, 0, 0.53);
}

label {
  background-color: white;
  font-size: x-large;
  font-weight: bold;
}

select {
  margin-bottom: 10px;
  padding: 5px;
  background-color: white;
}

input {
  margin-bottom: 10px;
  padding: 5px;
  background-color: white;
}

a {
  padding: 10px;
  margin: 10px;
  display: flex;
  justify-content: center;
  text-decoration: none;
  color: #405d27;
  box-shadow: 2px 20px 8px 20px rgba(0, 0, 0, 0.53);
}

button {
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
  border: none;
  background-color: #405d27;
  color: white;
  font-size: x-large;
  box-shadow: 0px 8px 5px 7px rgba(0, 0, 0, 0.53);
}

button:hover {
  background-color: #3e8e41;
}

button:active {
  background-color: #3e8e41;
  box-shadow: 0 3px #666;
  transform: translateY(3px);
}
