div {
  display: flex;
  flex-direction: column;
}

.image-container {
  width: min-content;
  height: min-content;
  justify-content: center;
  margin: auto;
}

p {
  background-color: white;
}

button {
  border-radius: 10px;
  padding: 10px;
  border: none;
  background-color: #405d27;
  color: white;
  margin: 5px;
  width: 100%;
}

@media only screen and (min-width: 768px) {
  button {
    width: auto;
  }

  .image-container {
    width: max-content;
    height: max-content;
    justify-content: left;
    margin: 0px;
  }
}
