ul {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

a {
  text-decoration: none;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  font-size: 26px;
}

li {
  border: 1px solid black;
  margin: 15px;
  padding: 5px;
  max-width: 300px;
  height: 100%;
  max-height: 500px;
  width: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-decoration: none;
  list-style: none;
  position: relative;
  border-radius: 10px;
  text-align: center;
  background-color: white;
  -webkit-box-shadow: 6px 2px 13px 0px rgba(0, 0, 0, 0.53);
  -moz-box-shadow: 6px 2px 13px 0px rgba(0, 0, 0, 0.53);
  box-shadow: 9px 8px 3px 9px rgba(0, 0, 0, 0.53);
}

h3 {
  margin-top: 3px;
  margin-bottom: 0px;
}

p {
  font-weight: 900;
  font-size: xx-large;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0px;
  height: 80vh;
}

.delete {
  position: absolute;
  border-radius: 50%;
  bottom: -31px;
  right: -16px;
  padding: 10px;
  border: solid black 1px;
  -webkit-box-shadow: 6px 2px 13px 0px rgba(0, 0, 0, 0.53);
  -moz-box-shadow: 6px 2px 13px 0px rgba(0, 0, 0, 0.53);
  box-shadow: 6px 2px 13px 0px rgba(0, 0, 0, 0.53);
}

.fa-heart-broken {
  color: red;
  font-size: 30px;
  -webkit-box-shadow: 6px 2px 13px 0px rgba(0, 0, 0, 0.53);
  -moz-box-shadow: 6px 2px 13px 0px rgba(0, 0, 0, 0.53);
  box-shadow: 9px 8px 3px 3px rgba(0, 0, 0, 0.53);
}

.fa-info {
  bottom: -10px;
  right: -5px;
  color: red;
  font-size: 30px;
}

.details {
  position: absolute;
  border-radius: 50%;
  bottom: -11px;
  left: -10px;
  padding: 10px;
  border: solid black 1px;
  -webkit-box-shadow: 6px 2px 13px 0px rgba(0, 0, 0, 0.53);
  -moz-box-shadow: 6px 2px 13px 0px rgba(0, 0, 0, 0.53);
  box-shadow: 6px 2px 13px 0px rgba(0, 0, 0, 0.53);
}

button {
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
  padding: 5px;
  border: none;
  background-color: #006600de;
  font-size: 30px;
  -webkit-box-shadow: 6px 2px 13px 0px rgba(0, 0, 0, 0.53);
  -moz-box-shadow: 6px 2px 13px 0px rgba(0, 0, 0, 0.53);
  box-shadow: 9px 8px 3px 3px rgba(0, 0, 0, 0.53);
}

button:hover {
  background-color: #ffff99;
}

button:active {
  background-color: #ffff99;
  box-shadow: 0 3px #666;
  transform: translateY(3px);
}
