ul {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

a {
  text-decoration: none;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

li {
  border: 1px solid black;
  margin: 15px;
  padding: 5px;
  max-width: 300px;
  height: 100%;
  max-height: 500px;
  width: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-decoration: none;
  list-style: none;
  position: relative;
  border-radius: 10px;
  text-align: center;
}

h3 {
  margin-top: 3px;
  margin-bottom: 0px;
}

p {
  font-weight: 900;
  font-size: xx-large;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0px;
  height: 80vh;
}

img {
  border-radius: 10px;
}

.delete {
  position: absolute;
  border-radius: 50%;
  bottom: -31px;
  right: -16px;
  padding: 10px;
  border: solid black 1px;
}

.fa-heart-broken {
  color: red;
  font-size: 30px;
}

.details {
  position: absolute;
  border-radius: 50%;
  bottom: -11px;
  left: -10px;
  padding: 10px;
  border: solid black 1px;
}
